.container-fluid {

    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 86.7vh;
}

img {
    border-radius: 50%;
    width: 5vw;
}

.btn-secondary {
    background-color: #B37D90;
    border: 1px solid #643255;
    color: #fff;

}
