<div class="container-fluid">
    <div class="row mt-4 ms-4">
        <div class="col-md-6">
            <h2 class="mb-5 text-uppercase">Come giocare</h2>
            <p> Ciao giocatore, nel corso della tua avventura avrai modo di <b>decidere</b> tu che svolta dare alla trama,
                cercando di arrivare alla fine ed ottenere il risultato migliore.
                Per farlo ti servirà soltanto un <b>click</b> ma attento, non sempre la strada più ovvia è anche quella giusta da intraprendere!<br>
                Non temere però, potrai comunque <i>ricominciare</i> in qualsiasi momento e rivedere le tue scelte.
            </p>
            <h4 class="my-4">Bivi e attivit&agrave;:</h4>
            <p class="my-4 text-center">
                <i>Ti trovi in una stanza dalla composizione insolita, cinque pareti con altrettante porte, l'una uguale all'altra in ogni singolo aspetto. L'unica diversa è quella da cui sei venuto ma sai di non poter tornare indietro. Quale decidi di aprire?</i>
            </p>
            <p>
                Questo &egrave; un classico esempio di una scelta a cui potresti essere sottoposto, un &ldquo;bivio semplice&rdquo;
                in cui ti verr&agrave; semplicemente richiesto di cliccare sulla tua risposta per proseguire nella
                direzione che hai scelto.
                Altre volte invece, alcuni svincoli ti saranno preclusi (questi saranno indicati da pulsanti disattivati) e
                potranno essere sbloccati unicamente con la risoluzione di un mini gioco o di un enigma.
            </p>
            <p>Non ne hai voglia o non sai come risolverlo? nessun problema, ci sar&agrave; sempre un'altra scelta che
                ti sarà possibile imboccare per non rimanere bloccato.
            </p>
            <p>
                Data la natura differente dei giochi, non sempre sarà sufficiente un &ldquo;<b>click</b>&rdquo; per la loro risoluzione ma non temere, ulteriori dettagli saranno disponibili direttamente in loro corrispondenza per aiutarti.
            </p>
        </div>
        <figure class="col-md-6 text-center">
            <img src="assets/img/SCELTA TIPO 1.jpg" width="70%">
            <figcaption class="my-1">
                <p class="text-center">Esempio di "bivio semplice"</p>
            </figcaption>
            <img src="assets/img/Enigma.jpg" class="mt-2" width="70%">
            <figcaption>
                <p class="text-center">Esempio di scelta ad enigma.</p>
            </figcaption>
        </figure>
    </div>
</div>
