.container-fluid {
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/029/268/239/4k/milan-vasek-forest-test.jpg?1597002893');
    background-position: center;
    background-size: cover;
    height: 86.7vh;
    width: 100vw;
}
