<div class="container-fluid">
    <div class="row">
      <div class="col-4 mx-auto bg-light my-5 p-4 rounded-4 text-center">
        <h3>Aggiornamento della Password</h3>
        <p>Per favore, fornisci un indirizzo e-mail a cui inoltrare la richiesta.</p>
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Inserisci e-mail" #passwordResetEmail required>
        </div>
        <!-- funzione passwordDimenticata -->
        <div class="formGroup">
          <button type="submit" class="btn btn-primary rounded-3 my-3" value="Reset Password" (click)="authService.passwordDimenticata(passwordResetEmail.value)">Aggiorna la Password</button>
        </div>
        <div class="redirectToLogin">
        <span>torna al <span class="redirect text-primary" routerLink="/sign-in">Login</span></span>
      </div>
      </div>

    </div>
  </div>
