<div class="container-fluid">
    <div class="row mx-0">
    <div class="col-md-12 text-end mt-3">
                <a type="button" class="btn btn-secondary" [routerLink]="'/home/'"><i class="fa-solid fa-house-flag"></i> Torna alla Home</a>

    </div>
</div>
<div class="row">
    <div class="col-md-6 mt-5 rounded-4 p-3 bg-light offset-3">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci fugit dolor repudiandae laboriosam? Eaque dolores, incidunt repellat voluptates laboriosam quibusdam fugiat illum soluta error corrupti, quos ea corporis quo maxime! Quod beatae doloribus illo architecto, similique at aliquam doloremque quidem quam molestias, veniam sequi laborum molestiae cupiditate! Quod, fugit aliquid? Consectetur voluptatibus, nisi a facilis velit ratione enim dicta accusantium impedit, accusamus qui? Voluptate enim debitis nemo unde. Omnis fugiat minus molestias. Cum ex fugiat corporis tenetur repudiandae! Sit expedita sunt architecto in, ut earum nisi unde laudantium quae aut exercitationem? Eligendi incidunt magnam, quod vitae veritatis maiores ut ratione?</p>
    </div>
</div>

</div>
