.container-fluid {

    background-image: url('https://cdna.artstation.com/p/assets/images/images/027/083/958/4k/craig-elliott-frog-swamp.jpg?1590543698');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 110%;
    height: 86.7vh;
}

.btn-secondary {
    background-color: #B5A1C4;
}

.btn-secondary:hover {
    background-color: #A3A950;
}

p {
    text-align: justify;
}

b{
    color: #B5A1C4;
}
