<div class="container-fluid">
    <div class="row mx-0">
        <div class="col-md-12 text-end mt-3">
            <a type="button" class="btn btn-secondary" [routerLink]="'/home/'"><i class="fa-solid fa-house-flag"></i>
                Torna alla Home</a>

        </div>
        <div class="row">
            <div class="col-md-6 mt-5 rounded-4 p-3 bg-light offset-3">
                <p>Prime impressioni.
                    Di nuovo, forse, vi era da dar loro il merito di essere esatte in un gran numero di casi e questo ne era un chiaro esempio.
                    La strega ti era apparsa avida e decisa a non ottenere un no ma per certo non avresti potuto &ndash; forse &ndash; prevedere... questo.
                    Una volta separato dalla donna avevi chiaramente sentito il suo sdegno, lo spergiuro morso tra i denti mentre l'aria fremeva di un'energia che non avevi mai percepito.
                    Magia, quella che fece diventare velocemente il mondo un vorticare di suoni e colori e infine ben più enorme di quanto non lo avessi percepito.
                    Umido perfino.
                    Strano.
                    La risposta arrivò ben palese non appena la strega ti si avvicinò di nuovo, le scarpe logore ora simili a massi visto il cambio repentino di prospettiva.
                    &laquo;Che questo ti insegni a non essere uno spilorcio!&raquo; un cupo monito mentre ti spingeva contro una grossa pozza, un pantano che inesorabile ti restituì il tuo riflesso verdastro.
                    Una grossa rana aveva preso il tuo posto.
                    Oppure più semplicemente la verità era ancora difficile da digerire, assieme al moscerino che la tua lingua decise in autonomia di acchiappare al volo. </p>

                    <p class="text-center mt-3"><b>Peccato</b>, non sembra che le cose siano andate come speravi. <br>
                        Se mangiare insetti non è nelle tue corde o più semplicemente vuoi provare ad intraprendere una strada diversa, premi il pulsante &ldquo;<b>Torna alla Home</b>&rdquo; per concederti una seconda possibilità.</p>
            </div>
        </div>
    </div>


</div>
