<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="perdita">
            <div class="row">
                <div class="col-md-12 mt-3">
                    <a type="button" class="btn btn-primary me-3" [routerLink]="'/home/'"><i class="fa-solid fa-house-flag"></i> Torna alla Home</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row justify-content-center">
                <div class="col-6 mt-5">
                    <p class="bg-light rounded-4 p-3" id="primo">No.
                        Non poteva essere vero...giusto?
                        Il sangue parve farsi ghiaccio nelle vene, la risata della strega ovattata aldilà dell'isterica soddisfazione che provava nel sentirsi vittoriosa e che riempiva l'aria tanto era acuta.
                        Possibile?
                        Possibile che anche questa fosse sbagliata? </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 mt-3">
                    <p class="bg-light rounded-4 p-3" id="secondo">&laquo;<i>Oh... non fare quella faccia viaggiatore, si vince e si perde nella vita ma non devi temere</i>&raquo; vibrò in soddisfazione la strega nel rivelare il suo vero aspetto, un maestoso gatto ben più grande di quanto quell'umile casupola potesse contenere &laquo;<i>questa sarà la tua nuova casa adesso e avrai molti altri a poterti fare compagnia</i>&raquo; fu allora che parve ovvio notarli, centinaia di gatti a miagolare nell'ombra e confondersi ad essa, dargli consistenza laddove ogni proporzione in te svaniva prima di farsi ritorta e sbagliata.
                        Perfino la bambina adesso sembrava più alta. </p>
                </div>
            </div>
            <div class="row justify-content-center" >
                <div class="col-6 mt-3" id="terzo">
                    <p class="bg-light rounded-4 p-3">Perchè?
                        Perchè piangeva?
                        &laquo;Mi dispiace&raquo; la sentisti dire &laquo;io...io non posso fare altro che accogliere i viaggiatori non... &raquo; &laquo;<i>SILENZIO!</i>&raquo; la voce della strega ora roboante come un tuono &laquo;<i>imparerà mia cara, imparerà e con la sua nuova natura... avrà perfino altre sette vite per poterlo fare. Osservati, ora non va forse molto meglio mio adorato viaggiatore?</i>&raquo;
                        </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 mt-3" id="quarto">
                    <p class="bg-light text-center rounded-4 p-3"><b>Ops</b>, sembra che le cose non siano andate per il verso giusto ma non temere, puoi sempre riprovare e prendere decisioni diverse.
                        Premi il pulsante &ldquo;<b>Torna alla Home</b>&rdquo; per concederti una seconda possibilità.</p>
                </div>
            </div>
        </div>
    </div>
</div>
