.container-fluid {

    background-image: url('https://cdnb.artstation.com/p/assets/images/images/044/218/455/4k/claud-z-final.jpg?1639416088');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 120%;
    height: 86.7vh;
}

.btn-secondary {
    background-color: #7DBDDD;
}

.btn-secondary:hover {
    background-color: #204875;
}

p {
    text-align: justify;
}

b {
    color:#7DBDDD;
}
