<div class="container-fluid">
    <div class="row mx-0">
    <div class="col-md-12 text-end mt-3">
                <a type="button" class="btn btn-secondary" [routerLink]="'/home/'"><i class="fa-solid fa-house-flag"></i> Torna alla Home</a>

    </div>
</div>
<div class="row">
    <div class="col-md-6 mt-5 rounded-4 p-3 bg-light offset-3" id="animazione">
        <p>Appariva sempre più ovvio che quella strega avrebbe fatto di tutto per del denaro ma non sembrava affatto interessata alle banconote che nel frugarti in tasca riuscisti a procurarti.<br>
            &laquo;aaah, non essere ridicolo, quella cartaccia può andar bene per voi umani&raquo; gracchiò la vecchia dopo un altro spergiuro &laquo;noi streghe vogliamo solo promesse o oro e mi sa proprio che quest'ultimo a te manchi&raquo; ti aveva squadrato ben bene, l'occhio attento e le dita adunche ad accertarsi che quanto predetto fosse vero, affatto interessata a lasciar perdere una possibile trattativa &laquo;la tua strada per la tua memoria&raquo; propose ma sembrò ripensarci nel vedere il tuo spaesamento.
            In effetti, un uomo perso non sembrava un ottimo compratore &laquo;la tua strada per una storia allora...&raquo;<br>

            Una che la tenne occupata fino alle prime luci dell'alba quando non nel modo più gentile ti svegliò con un colpo del suo bastone per mettervi in marcia.
            Anche il bosco sembrava diverso adesso, pieno di una vita che ti era sembrata assente quando avevi provato te a trovarvi riparo &laquo;questo bosco non è più quello di una volta&raquo; ti spiegò la donna mentre il grosso dinosauro su cui vi eravate seduti camminava dinoccolato tra le frasche &laquo;un tempo circolare era più semplice ma è quel che si dice noi vecchi a quelli giovani come voi suppongo ma...eccoci, benvenuto a Rondò, porto di sbocco tra i mondi. Quella nave ti porterà a casa, basta solo che tu dia una delle mie pozioni al controllore che te le chiederà e.. non fare caso allo squalo, mangia solo chi sale senza biglietto&raquo;

            Aldilà della stranezza e del lungo incedere fu strano sentirsi a casa e al sicuro in un luogo come quello, circondato da creature mai viste dirette ognuna in un luogo diverso. Non avevano bisogno di chiedere, la nave li portava esattamente dove doveva.
            Il che era un bene dato che, nonostante tutto, non avresti saputo dove tornare.</p>
            <p class="text-center mt-3"><b>Complimenti</b>, sei riuscito a tornare a casa e a vivere un'avventura che per certo non ti apparirà ordinaria.
                Se sei curioso però di scoprire in quale altro modo poteva andare, premi il tasto &ldquo;<a [routerLink]="'/home'"><b>Torna alla Home</b></a>&rdquo; per iniziare una nuova avventura.</p>
    </div>
</div>

</div>
