<div class="container-fluid">
    <div class="row">
        <div class="col-4 mx-auto bg-light my-5 p-4 rounded-4 text-center">
            <h3>Registrati</h3>
            <!--input-->
            <form class="form-group mb-3">
                <input type="email" class="form-control mb-3" placeholder="Inserisci la tua e-mail" #userEmail required />
                <input type="password" class="form-control" placeholder="Inserisci la tua password" #userPwd required />

                <!--funzione signUp-->
                <button type="button" class="btn btn-success rounded-3 my-3" value="Registrati"
                    (click)="authService.SignUp(userEmail.value, userPwd.value)">Registrati
                </button>
            </form>

            <div class="form-group">
                <p>Oppure:</p>
            </div>
            <!--google-->
            <div class="form-group">
                <button type="button" class="btn btn-outline-success my-2" (click)="authService.GoogleAuth()">
                    <i class="fab fa-google-plus-g"></i>
                    Registrati con Google
                </button>
            </div>
            <!--login-->
            <div class="redirectToLogin">
                <p>Hai già un account?
                    <span class="redirect text-success" routerLink="/sign-in">Login</span></p>
            </div>
        </div>
    </div>
