<div class="container-fluid" id="backHome">
    <div class="row">
        <div class="col-md-6 mt-5 text-md-center ">
            <h1 class="mt-5 text-uppercase">Preparati all'avventura</h1>
        </div>
        <div class="col-md-6 mt-5 text-md-center">
            <div class="row">
                <div class="col-12 mt-5">
                    <button type="button" class="btn btn-secondary text-uppercase py-4 px-5" disabled>continua</button>
                </div>
                <div class="col-12 mt-5">
                    <button type="button" class="btn btn-secondary text-uppercase py-4 px-5" [routerLink]="'/inizio'">inizia l'avventura</button>
                </div>
                <div class="col-12 mt-5">
                    <button type="button" class="btn btn-secondary text-uppercase py-4 px-5"
                        [routerLink]="'/comegiocare'">come giocare</button>
                </div>
            </div>
        </div>
    </div>
</div>
