<div class="container-fluid">
    <div class="row">
        <div class="col-4 mx-auto bg-light mt-5 p-4 rounded-4 text-center">
            <h3>Accedi</h3>
            <!--INPUT-->
            <form #accedi="ngForm">
                <div class="form-group">
                    <input type="text" [ngModel]="userForm.nome" #nome="ngModel" name="nome" class="form-control mb-1" placeholder="Username"
                        #userName required>
                        <p *ngIf="nome.invalid" class=" text-danger">Questo campo è obbligatorio</p>
                </div>
                <div class="form-group">
                    <input type="password" [ngModel]="userForm.password" #password="ngModel" name="password" class="form-control mb-1" placeholder="Password" #userPassword
                        required>
                        <p *ngIf="password.invalid" class="text-danger">Questo campo è obbligatorio</p>
                </div>
                <!--funzione Sign In-->
                <button type="button" class="btn btn-success rounded-3 my-3" value="Log in"
                    (click)="authService.SignIn(userName.value, userPassword.value)" [disabled]="accedi.invalid">Accedi</button>
            </form>
            <div>
                <p>Oppure:</p>
            </div>
            <!--GOOGLE-->
            <div>
                <button type="button" class="btn btn-outline-success my-1" (click)="authService.GoogleAuth()">
                    <i class="fab fa-google-plus-g"></i>
                    accedi con Google
                </button>
            </div>
            <!--password dimenticata-->
            <div class="text-success my-3">
                <p routerLink="/passwordDimenticata">Hai dimenticato la password?</p>
            </div>
            <!---passa a Registrati-->
            <div>
                <p>non hai un account?<span class="text-success" routerLink="/sign-up"> Registrati</span></p>
            </div>
        </div>

    </div>
</div>
