<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="row bg bg-light rounded-4 m-4 p-3">
                <p> Se le prime impressioni sono ciò che contano, quella casa per certo non stava facendo un buon lavoro
                    per non sembrare inquietante e malandata.
                    Le assi delle scale avevano quasi urlato sotto il tuo peso, i chiodi a spuntare come funghi laddove
                    le tavole erano semplicemente troppo molli e marce per poterlo fare e il portico non verteva in una
                    condizione tanto migliore.<br>
                    Mancavano diversi pioli dalla ringhiera e il lato sinistro della stessa penzolava in direzione di un
                    vecchio furgone ormai arrugginito dal tempo.
                    La porta però sembrava stranamente in buone condizioni, il legno pregiato arricchito da un intarsio
                    di metallo che incorniciava uno spioncino da cui comunque non si riusciva a vedere nulla.
                    Il batacchio, la cui forma ricordava un gatto allungato su un gomitolo che faceva da battente,
                    produsse un suono che, di nuovo, non era quanto ci si sarebbe aspettati. Non fu un tonfo o un
                    rintocco di ferro ed ottone, fu più un miagolio stridulo che quasi si confuse col lamento dei
                    cardini successivo.
                    Una lama di luce illuminò il portico e subito dopo ne uscì una ragazzina, l'aspetto ordinato ma di
                    altri tempi ad osservarti con una strana urgenza.<br>
                    &laquo; Sei qui per &ldquo; <i>Mamma</i> &rdquo; ?&raquo; una parola di un certo peso, eppure ancora
                    una volta qualcosa suggeriva che fosse un titolo e non un affermazione di parentela &laquo; oh...sei
                    un altro che si è perso, non è vero? Non temere succede spesso, qui intorno è pieno di streghe
                    pronte a fare dispetti &raquo; spiegò la bambina nel vedere la tua reticenza &laquo; posso portarti
                    da <i>Mamma</i>, lei ti rimetterà sulla giusta via ma devo avvisarti...sottopone tutti ad un gioco
                    pericoloso &raquo; ancora non si vedeva niente dell'interno, solo luce e un acuto odore di funghi
                    accompagnava la figura della bambina che si sentì in dovere di precisare &laquo; testa le menti e la
                    posta è alta, se non sei pronto...ti prego, cerca una strega più buona altrove&raquo;<br>
                    <br>
                    Di nuovo una scelta, stavolta forse non alla cieca. Scegliere il gioco e forse un'uscita rapida da
                    un brutto inconveniente o cercare aiuto altrove?</p>

            </div>
            <div class="row m-4 p-2">
                <button class="btn btn-secondary mb-3" [routerLink]="'/cercaaltrove'">Cerca la tua strada
                    altrove</button>
                <button class="btn btn-secondary" [routerLink]="'/quiz'">Prestati al gioco</button>
            </div>
        </div>
        <div class="col-6" id="dx">

        </div>
    </div>
</div>
