<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="row bg bg-light rounded-4 m-4 p-3">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto tempora beatae omnis qui laudantium vitae minima quis, excepturi quia quae harum repellendus pariatur ea quasi odit expedita culpa a debitis voluptatibus? Cumque molestias dicta aspernatur cupiditate obcaecati sapiente quibusdam aliquid quia alias, illum error numquam, quasi nesciunt repudiandae voluptatem. Tempora rerum dignissimos nulla exercitationem nobis dolorum quod? Cupiditate magnam facilis est fugit perspiciatis non aut ex reiciendis neque exercitationem debitis, incidunt ab dolores earum? Id nihil odit natus delectus, neque incidunt sit corporis ea asperiores quae laudantium eveniet adipisci doloremque quis sed dicta! Cupiditate magnam amet perferendis. Placeat, exercitationem magni.</p>

            </div>
            <div class="row m-4 p-2">
                <button class="btn btn-warning mb-3" [routerLink]="'/cercaaltrove'">Cerca la tua strada altrove</button>
                <button class="btn btn-warning" [routerLink]="'/quiz'">Prestati al gioco</button>
            </div>
        </div>
        <div class="col-6" id="dx">

        </div>
    </div>
</div>
