.container-fluid {
    background-color: #F1F2F0;
}

#dx {
    background-image: url('../../../assets/img/jo-rioux-quiz.jpg');
    background-size: cover;
    height: 86.7vh;
}

.btn-secondary {
    background-color: #C8A28E;
    border: 1px solid #C8A28E;
    color: #251B21;
}

.btn-secondary:hover {
    background-color: #CEC5C0;
}
