.container-fluid {
    background-color: #D2C7C1;
}
#dx {
    background-image: url('http://n.sinaimg.cn/sinacn20121/358/w562h596/20190125/b54f-hsccyrs8950466.jpg');
    background-size: cover;
    height: 86.7vh;
}
