<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="row bg bg-light rounded-4 m-4 p-3">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque deserunt delectus temporibus aliquid
                    assumenda molestiae nemo nisi, atque soluta libero eaque quis, provident nam laboriosam. Aperiam
                    voluptas eos amet accusantium odio obcaecati expedita, quo quae molestiae atque, porro autem a enim,
                    officia odit quas reprehenderit error eum quidem fugiat numquam impedit similique. Ex, culpa.
                    Reprehenderit consequatur enim reiciendis, quis sed officiis, suscipit fugiat cumque praesentium
                    eligendi similique consectetur autem dolorum consequuntur ab facere debitis magni quae mollitia
                    dolores, vero at! Distinctio adipisci cum nihil cumque labore quas architecto fugiat ab et ea! Ipsa
                    accusantium, voluptates provident consectetur dolorum, amet praesentium, illum consequuntur alias
                    iusto natus? Laboriosam veritatis, ratione fuga nesciunt, quo libero esse sit dolores vel velit
                    voluptatum consequatur consectetur perferendis quaerat ab laborum, unde placeat nisi vitae
                    perspiciatis neque ad! Aliquam facilis ipsam commodi facere officia, eveniet magni, obcaecati quia
                    sed placeat quo dignissimos, iure magnam consequatur architecto cupiditate.</p>

            </div>
            <div class="row m-4 p-2">
                <button class="btn btn-secondary mb-3">Cerca la tua strada altrove</button>
                <button class="btn btn-secondary">Prestati al gioco</button>
            </div>
        </div>
        <div class="col-6" id="dx">

        </div>
    </div>
</div>
