.container-fluid {
    background-color: #F1DCD1;
}

#scontro {
    background-image: url('../../../assets/img/batti\ la\ strega.jpg');
    background-color: #F1DCD1;
    height: 86.7vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-primary {
    background-color: #67557D;
    border: 1px solid #67557D;
}

.btn-primary:hover {
    background-color: #633248;
    border: 1px solid #633248;
}

p {
    text-align: justify;
}

b {
    color: #67557D;
}

a:link {
    text-decoration: none;
}
