<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="scontro">
            <div class="row">
                <div class="col-md-12 mt-3">
                    <a type="button" class="btn btn-primary me-3" [routerLink]="'/home/'"><i
                            class="fa-solid fa-house-flag"></i> Torna alla Home</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row justify-content-start">
                <div class="col-8 mt-5">
                    <p class="bg-light rounded-4 p-3" id="primo">Il risultato fu certo sulla tua lingua nel momento
                        esatto in cui la lasciò, la sensazione di salvezza ad alleggerirti il petto non appena l'ovvio
                        si fece palese sul viso scandalizzato della donna.
                        &laquo;<i>NO! NO non è possibile!!!</i>&raquo; il suo viso si tramutò presto in quello di un
                        gatto, gli occhi già affilati a farsi gialli come quelli del felino in cui si ritrovò a
                        trasformarsi. Anche se forse era una chimera viste le ali e lo strano colorito. </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 mt-3">
                    <p class="bg-light rounded-4 p-3" id="secondo">&laquo;<i>Nessuno mi aveva mai battuto! HAI
                            BARATO!</i>&raquo; la sua voce risuonava elettrica nell'aria, arricchita soltanto dai soffi
                        che la sua gola di felino emetteva nel pronunciarle, la sua angoscia evidente mentre la bambina
                        che aveva aperto la porta si ritrovava a ballare felice. </p>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-8 mt-3" id="terzo">
                    <p class="bg-light rounded-4 p-3">Libera.
                        Felice nel vedere la strega sgusciare in un battito d'ali fuori da una delle finestre rotte,
                        umiliata e sconfitta.
                        &laquo;Grazie, mi hai salvata &raquo; spiegò la nuova proprietaria di casa nell'accostarsi
                        &laquo; Anche io mi sono persa ormai tanti, troppi anni fa. Avevo creduto di poterla battere,
                        che i suoi fossero solo trucchi ma...&raquo; no, il suo destino era stato decisamente avverso
                        &laquo;...oh, non pensiamoci però! Dobbiamo festeggiare e poi tu dovrai tornare a casa! Non
                        temere, ti mostrerò io la strada prima che io stessa ritrovi la mia ma prima...siedi, ti
                        andrebbe di ascoltare la mia storia?&raquo;</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 mt-3" id="quarto">
                    <p class="bg-light rounded-4 p-3"><b>Congratulazioni</b>, hai battuto la strega e conquistato la tua
                        libertà!<br>
                        Tutto è andato per il meglio ma se sei curioso di vedere cosa sarebbe successo se avessi preso
                        decisioni diverse, premi il pulsante &ldquo;<a [routerLink]="'/home'"><b>Torna alla
                                Home</b></a>&rdquo; e comincia una nuova avventura.</p>
                </div>
            </div>
        </div>
    </div>
</div>
