<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="scontro">
            <div class="row">
                <div class="col-md-12 mt-3">
                    <a type="button" class="btn btn-primary me-3" [routerLink]="'/home/'"><i class="fa-solid fa-house-flag"></i> Torna alla Home</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row justify-content-start">
                <div class="col-6 mt-5">
                    <p class="bg-light rounded-4 p-3" id="primo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis autem dolorem maxime maiores quas similique quis, numquam animi doloremque explicabo.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4 mt-5">
                    <p class="bg-light rounded-4 p-3" id="secondo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione, exercitationem.</p>
                </div>
            </div>
            <div class="row justify-content-end" >
                <div class="col-6 mt-5" id="terzo">
                    <p class="bg-light rounded-4 p-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas veritatis sapiente, reiciendis fugit quaerat debitis minus vero perspiciatis exercitationem? Dolores tenetur repudiandae accusamus, laborum facilis voluptatem quo, placeat unde iste exercitationem laudantium! Quaerat, ea corrupti! Iste a sit odio sapiente.</p>
                </div>
            </div>
        </div>
    </div>
</div>
