
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="donna">
            <p class="bg-light rounded-5 p-3 mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
                perspiciatis facilis consectetur accusantium deleniti velit adipisci ipsum magnam ducimus rerum cumque
                blanditiis tempore minus culpa delectus, nesciunt ullam deserunt reprehenderit!</p>
        </div>
        <div class="col-6 text-center">
            <h2>TITOLO PROVVISORIO</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="row mt-5">
                        <h3 class="mb-5"></h3>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <p>domanda 1/10</p>
                            </div>
                            <div class="col-md-6">
                                <p>tempo 10:50</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="bg-color p-3 rounded-pill option"> scelta 1</p>
                        </div>
                        <div class="col-md-6">
                            <p class="bg-color p-3 rounded-pill option"> scelta 2</p>
                        </div>
                        <div class="col-md-6">
                            <p class="bg-color p-3 rounded-pill option"> scelta 3</p>
                        </div>
                        <div class="col-md-6">
                            <p class="bg-color p-3 rounded-pill option"> scelta 4</p>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn bg-color rounded-pill mt-4 px-3">Prossima domanda</button>
                        </div>
                        <div class="col-md-12 answerIndicator mt-5">
                            <div class="me-2"></div>
                            <div class="me-2"></div>
                            <div class="me-2"></div>
                            <div class="me-2"></div>
                            <div class="me-2"></div>
                            <div class="me-2"></div>
                            <div class="me-2"></div>
                            <div class="me-2"></div>
                            <div class="me-2"></div>
                            <div></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
