<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="donna">
            <p class="bg-light rounded-4 p-3 mx-5 mt-3"> Altrove.
                Forse adesso che si ritrovava di fronte alla donna l'idea di affidarsi all'ignoto non appariva più un'idea così spaventosa. Non con la clessidra a scorrere ancor prima di sentire le sue parole.<br>
                Poco rassicuranti anche quelle in effetti.<br>
                &laquo;<i>Bene bene... un temerario. Non temere, le mie sono domande...oneste</i>&raquo; il suo viso felino si era aperto in un sorriso inquietante presto sostituito da una risata graffiante &laquo;<i>se solo ne conosci la risposta!</i>&raquo;<br>
                Il tempo scorrere, non c'è più tempo e ormai paure o meno, è tempo di buttarsi.<br>
                L'unica speranza, salvarsi.</p>
        </div>
        <div class="col-6 text-center my-md-0" id="quiz">
            <div class="row">
                <div class="col-md-12">
                    <div class="row mt-5">
                        <div *ngIf="totalCount<11 && quiz">
                            <div class="col-md-2 offset-md-5 mb-5 text-center">
                                <h3 class="border rounded-pill">{{correctCount}}/{{totalCount}}</h3>
                            </div>
                            <h2 [innerHTML]="quiz.question" class="mb-4"></h2>
                            <div>
                                <p [innerHTML]="quiz.category" class="fs-4 fst-italic text-center my-4"></p>
                            </div>
                            <div class="row mb-5">

                                <div *ngIf="totalCount<11">
                                    <div class="progress">
                                        <div [ngClass]="timeLeft>30?'bg-custom':'bg-danger'"
                                            class="progress-bar-striped" role="progressbar" [style.width.%]="timeLeft"
                                            [attr.aria-valuenow]="timeLeft" [attr.aria-valuemin]="0"
                                            [attr.aria-valuemax]="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div *ngFor="let answer of quiz.answers" class="col-md-6 mb-4">
                                    <button class="bg-color p-3 rounded-pill option w-100"
                                        (click)="answerQuestion(answer.correctAnswer)"
                                        [innerHtml]=answer.answer></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="totalCount==11">
                                <button class="bg-color p-3 rounded-pill option w-100 text-uppercase"
                                    *ngIf="correctCount >= 6" [routerLink]="'/controogniaspettativa'">Complimenti, hai battuto la strega</button>
                                <button class="bg-danger p-3 rounded-pill option w-100 text-white text-uppercase" *ngIf="correctCount <= 5" [routerLink]="'/nonsemprevabene'">Hai
                                    perso</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
