<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mt-5 ms-3 rounded-4 p-3" id="backTesto">
            <p class="mt-3">C'è chi dice di sentirsi smarrito, probabilmente lo hai fatto anche tu ma mai come adesso ne stai sperimentando la sensazione.
                Qui, in piedi in mezzo ad un bosco ti ritrovi a guardarti intorno senza ricordare neppure chi sei o per quale motivo tu abbia deciso di aggirarti in un posto simile.
                Forse il motivo era dei più banali, una scampagnata fuori porta, il ritrovare contatto con una natura selvaggia fuori dalle mura domestiche e della quotidianità ma anche in questo caso il risultato è il medesimo.
                Sei perso e ora, non sapendo dove tu ti sia risvegliato dai tuoi pensieri è decisamente il caso di prendere delle decisioni.
                Avanzando un po' nel bosco ad esempio noti subito una casa.
                Sembra accogliente all'esterno ma nell'avvicinarti scorgi dei dettagli che potrebbero farti vacillare su una scelta che potrebbe sembrare ovvia.
                La sega da taglialegna appoggiata alla ringhiera del portico ad esempio sembra sporca di qualcosa che non sia resina e la polvere fa pensare che la casa sia disabitata da un po' nonostante la luce soffusa che arriva dall'interno.
                Perciò...cosa fare?
                Preferisci bussare e correre il rischio di un brutto incontro o tornerai sui tuoi passi provando a ritrovare da solo la strada di casa?</p>
        </div>
    </div>
    <div class="position-relative">
        <div class="position-absolute top-0 end-0 my-4 me-3">
            <button class="btn btn-secondary text-dark" [routerLink]="'/segui'">Segui la via del bosco</button>
        </div>
        <div class="position-absolute bottom-0 end-0 my-4 me-3">
            <button class="btn btn-secondary text-dark" [routerLink]="'/bussi'">Bussi alla porta</button>
        </div>
    </div>
</div>
