.container-fluid {

    background-image: url('/assets/img/inizio.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 86.7vh;

}

#backTesto {
    background-color: #f9efca;
}

.btn-secondary {
    background-color: #D8BA87;
    border: 1px solid #D8BA87;
    color: #251B21;
}

.btn-secondary:hover {
    background-color: #f9efca;
}

.position-relative {
    margin-top: 25%
}

/*@media only screen and (min-width:768px) {

    .container-fluid {
        height: 83vh;
    }

    .position-relative {
        margin-top: 20%
    }
}*/

