body, html {
    height: 100%;
  }

.container-fluid  {

    background-image: url('/assets/img/inizio.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 86.7vh;
}

#backTesto {
    background-color: #f9efca;

}

.position-relative {
margin-top:25%

}

