.container-fluid {
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/001/153/037/large/milan-vasek-teapot009.jpg?1443930022');
    background-size: cover;
    height: 86.7vh;
    width: 100vw;
}

.btn-primary {
    background-color: #908394;
    border: 1px solid #908394;
}

.btn-primary:hover {
    background-color: #878E97;
    border: 1px solid #878E97;
}
