.container-fluid {
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/001/153/037/large/milan-vasek-teapot009.jpg?1443930022');
    background-size: cover;
    height: 86.7vh;
    width: 100vw;
}
