<div class="container-fluid">
    <video autoplay muted loop>
        <source src="https://cdn-animation.artstation.com/p/video_sources/000/845/169/aspenwoods-vid01.mp4">
    </video>
    <div class="row">
        <div class="col-md-6 offset-3 bg-light p-4 rounded-4 mt-5" id="animazione">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt dolorem culpa at exercitationem,
                recusandae aliquam sapiente vel obcaecati numquam cum harum beatae nemo aut molestias aspernatur ipsum
                officiis quaerat expedita eius sequi minima consequuntur voluptate. Sint provident id molestiae aliquam
                mollitia deserunt quas omnis magnam incidunt explicabo, architecto iste nam doloremque accusamus facere
                voluptates, cumque iure illo. Quidem expedita dolor culpa reiciendis esse, mollitia nihil accusantium?
                Asperiores laboriosam debitis, ea adipisci possimus culpa, aliquid expedita explicabo provident
                voluptatem nemo? Eligendi excepturi reprehenderit suscipit repellat. Suscipit, nam officiis! Rem fugit
                at vitae quas eum ullam, illum ipsa alias excepturi quisquam culpa, quod suscipit minus quasi, soluta
                error reprehenderit? Aperiam labore animi praesentium cum alias assumenda odio reprehenderit suscipit.
                Cumque doloribus officiis tempore aliquid ut eveniet temporibus sapiente eligendi commodi, inventore
                expedita sit nam vel amet sunt soluta quasi odit itaque nulla explicabo ipsum deserunt impedit! Ducimus
                ab voluptatum quia modi quos.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                    <a type="button" class="btn btn-primary" [routerLink]="'/home/'"><i class="fa-solid fa-house-flag"></i> Torna alla Home</a>

        </div>
    </div>
</div>
