<div class="container-fluid">
    <video autoplay muted loop>
        <source src="https://cdn-animation.artstation.com/p/video_sources/000/845/169/aspenwoods-vid01.mp4">
    </video>
    <div class="row mx-0">
        <div class="col-md-12 text-end mt-3">
                    <a type="button" class="btn btn-primary" [routerLink]="'/home/'"><i class="fa-solid fa-house-flag"></i> Torna alla Home</a>

        </div>
    </div>
    <div class="row mx-0">
        <div class="col-md-6 offset-3 bg-light p-4 rounded-4 mt-5" id="animazione">
            <p>La porta si aprì con un crack. Un suono di chiavistelli e ruote dentellate invisibili a smuovere l'enorme porta di pietra a il cui grosso gatto al lato faceva da contrappeso. Ognuno di loro si volse, lo schiocco di un meccanismo a tradirne la natura ora che il portone si apriva e loro si voltavano.
                Un meccanismo antico, porta su un mondo che rischiava di essere perduto.
                Un mondo onirico e quasi dipinto in cui i passi erano pesanti come piombi e il respiro vivo come in un inverno perenne.
                &laquo; La porta è aperta, la porta è aperta!&raquo;  la voce proveniva da due uccellini dai colori vivaci appollaiati su un ramo a qualche spanna dal tuo capo, una sistemazione temporanea data la rapidità con la quale spiccarono il volo per raggiungere il portone ed uscirne.
                Sembrava che qualcuno li avesse rinchiusi ma ora come ora sarebbe stato difficile capire quale dei due mondi tenesse escluso l'altro &laquo; Benvenuto straniero&raquo;  fu un cervo a parlarti, il tono solenne ad indicarlo come Re di un mondo che sembrava tanto meraviglioso quanto spoglio &laquo; ti sei perduto e sei stata nostra salvezza, vieni... riprendi le forze, sei eroe tra i mondi ma la tua memoria mi suggerisce che tu ne ignori il motivo. Siedi...c'è molto che devi sapere prima che tu possa prendere il mio posto&raquo;
            </p>
            <p class="text-center mt-3">
                <b>Complimenti</b>, la foresta ti rivelerà i suoi segreti e ti darà anche delle soddisfazioni.<br> Non è da tutti diventare un Re solo per aver aperto una porta, non pensi? <br>
                Se la regalità non ti soddisfa e desideri ricominciare, premi il pulsante &ldquo;<a [routerLink]="'/home'"><b>Torna alla Home</b></a>&rdquo; e cerca una strada diversa.
            </p>
        </div>
    </div>
</div>
