<div class="container-fluid text-center">
    <div class="row">
        <div class="col-6 mx-auto rounded-4">
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ullam autem placeat quaerat nisi possimus inventore. Sequi natus voluptatum officia vero dolores exercitationem suscipit quis tempora modi. Saepe quidem sunt odio assumenda quisquam? Totam atque commodi laboriosam tempora incidunt quae officiis ducimus dolorem, magni nisi, alias nulla libero eos natus sequi ea est! Nihil tenetur minima totam eaque sit magni, aut voluptatum cupiditate possimus similique impedit ut quos expedita vero voluptate eius illum repellendus, minus dolor, laudantium quod a quae?</p>
        </div>
    </div>
    <div class="row mt-5 justify-content-between">
        <div class="col-4">
            <button class="btn btn-secondary text-dark" [routerLink]="'/segui'">Segui la via del bosco</button>
        </div>
        <div class="col-4">
            <button class="btn btn-secondary text-dark" [routerLink]="'/sudoku'">osserva meglio le rocce</button>
        </div>
    </div>

</div>
