.container-fluid {

    background-image: url('https://cdna.artstation.com/p/assets/images/images/019/037/866/4k/tyler-smith-biggrowthforest02-01.jpg?1561731187');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 86.7vh;
}

.col-md-6 {
    background-color: #afacac;
    margin-top: 10em;
}

.btn-secondary {
    background-color: #afacac;
    border: 1px solid #afacac;
    color: #251B21;
}

.btn-secondary:hover {
    background-color: #CEC5C0;
}
