<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-3 mt-5">
            <p class="bg-light p-3 rounded-4 mt-5">Alberi, solo e soltanto alberi!<br>
                Ovunque la fitta vegetazione si fa confusa e informe.
                Rigidamente regolata certo ma da regole che sfuggano ad una mente che ora si fa decisamente appesantita
                da un cammino che pare essere inconcludente.
                Tutto sembra esattamente lo stesso, passo dopo passo fiori dai colori brillanti e variopinti sembrano
                via via rassomigliarsi tra loro e i sentieri che nell'entusiasmo avevi creduto di scorgere ora appaiono
                solo il ripetitivo incedere di qualche abitante del bosco.<br>
                Anche adesso ti pare di vederne uno, disseminato di piccoli ciottoli sotto una coltre fangosa preludio
                di un recente temporale.
                Potrebbe essere l'ennesimo viaggio a vuoto e i tuoi piedi chiedono pietà ma di nuovo, una scelta si para davanti ai tuoi occhi.<br>
                Farai un ultimo tentativo o attenderai di aver ripreso le forze?</p>
        </div>
        <div class="row text-center mt-5">
            <div class="col-md-6">
                <button class="btn btn-secondary text-dark" [routerLink]="'/straniincontri'">Non darti per
                    vinto</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-secondary text-dark" [routerLink]="'/cambiamenti'">Vai avanti e accetta le
                    conseguenze</button>
            </div>
        </div>
    </div>

</div>
