.container-fluid {
    background-image: url('https://cdna.artstation.com/p/assets/images/images/003/767/854/large/milan-vasek-autumn-lake-overcast-final.jpg?1477304965');
    background-position: center;
    background-size: cover;
    height: 86.7vh;
    width: 100vw;
}
