<div class="container-fluid">
    <div class="row">
        <div class="col-4 mx-auto bg-light my-5 p-4 rounded-4 text-center">
            <h3>Grazie per la tua registrazione</h3>
            <div class="formGroup" *ngIf="authService.userData as user">
                <p>Abbiamo inviato una mail a: <strong>{{user.email}}</strong>.</p>
                <p>per favore, controlla la tua mail e segui le istruzioni</p>
            </div>
            <div class="formGroup">
                <p>non hai ricevuto niente?</p>
                <button type="button" class="btn btnPrimary" (click)="authService.invioMailVerifica()">
                    <i class="fas fa-redo-alt"></i>
                    invia nuovamente l'e-mail
                </button>
            </div>
            <div class="redirectToLogin">
                <span>torna al <span class="redirect text-primary" routerLink="/sign-in">Login</span></span>
            </div>
        </div>

    </div>
</div>
